/* General Header Styling */
.header {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 3%;
  height: 56px;
}

.logo h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Navigation Links for Desktop */
.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-links a {
  font-weight: 650;
  font-size: 1.3rem;
  color: #31473a;
  text-decoration: none;
}
.nav-links button {
  height: 5vh;
  width: 11vh;
  font-size: 1.3rem;
  background-color: #31473a;
  text-decoration: none;
  border-radius: 10px;
}
.nav-links button a {
  color: white;
}

.nav-links a:hover {
  color: #31473a;
}

/* Mobile View - Hamburger Menu */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none; /* Initially hidden */
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    flex-direction: column;
  }

  .nav-links.active {
    display: flex; /* Display when menu is open */
  }

  .nav-links a {
    margin: 10px 0;
  }

  .logout-btn {
    cursor: pointer;
  }
}

/* Desktop and Laptop View - Adjustments */
@media (min-width: 769px) {
  .nav-links {
    display: flex;
  }

  .menu-icon {
    display: none; /* Hide hamburger on desktop */
  }
}
